{% extends 'admin/common/base.html.twig' %}
{% block content %}

    <section>
        <form action="{{ path('admin_author_search') }}" method="GET">
            <input type="search" name="search">
            <input type="submit" value="Rechercher">
        </form>
        {% for author in authors %}
        <div>
            <h1>{{ author.firstName }} {{ author.lastName }}</h1>
            <span> <em>{{ author.birthDate|date('d/m/Y') }} -
                    {% if author.deathDate %}
                        {{ author.deathDate|date('d/m/Y') }}
                    {% endif %}
            </em></span>
            <p></br> {{ author.biography }}</p>
            <p>Livres : </p>
            {% for book in author.books %}
                <p>{{ book.title }}</p>
            {% endfor %}

            <div><a href="{{ path ('admin_author', {'id':author.id}) }}"> - Details - </a></div>
            <div><a class="delete" href="{{ path ('admin_author_delete', {'id':author.id}) }}"> - Supprimer l'auteur
                    - </a></div>
            <div class="margin"><a class="update" href="{{ path ('admin_author_update', {'id':author.id}) }}"> -
                    Modifier l'auteur - </a></div>
            {% endfor %}
        </div>
    </section>

{% endblock %}
