<link rel="stylesheet" href="{{ asset('dist/css/style.css') }}">
{% block content %}

    <!--Insérer une modale (PopUp)-->
    <header class="header">
        <h4 class="header-newsletter">Inscription à la Newsletter</h4>
    </header>

    <div class="popup-newsletter">
        <h5 class="popup-newsletter-label">Merci de renseigner votre email</h5>
        <input class="popup-newsletter-input" type="text">
        <input class="popup-newsletter-submit" type="submit">
    </div>
<section class="cover">
    <form action="{{ path('front_book_search') }}" method="GET">
        <input type="search" name="search">
        <input type="submit" value="Rechercher">
    </form>
    {% for book in books %}
    <div>
    <h1>{{ book.title }}</h1>
    <span> <strong> Auteur relié : {{ book.author.firstName }} {{ book.author.lastName }}</strong></span>
    <span> <em>{{ book.nbPages }} pages</em></span>
    <p></br> {{ book.resume }}</p>
    <div><a href="{{ path ('front_book', {'id':book.id}) }}"> - Details - </a></div>
        <button class="button-more">Voir plus</button>
    {% endfor %}
    </div>
</section>
    <script
            src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
            crossorigin="anonymous">

    </script>
    <script src="{{ asset('src/js/app.js') }}"></script>
{% endblock %}


