 <section class="cover">

        <h5>Vous avez recherché le mot : {{ search }}</h5>

        {% for book in books %}
        <div>
            <h1>{{ book.title }}</h1>
            <span> <strong>{{ book.author }}</strong></span>
            <span> <em>{{ book.nbPages }} pages</em></span>
            <p></br> {{ book.resume }}</p>
            {% endfor %}
            <div><a href="{{ path ('front_books') }}"> - Revenir à la Bibliothèque - </a></div>
        </div>

    </section>
