<section>
    <form action="{{ path('front_author_search') }}" method="GET">
        <input type="search" name="search">
        <input type="submit" value="Rechercher">
    </form>
    {% for author in authors %}
    <div>
        <h1>{{ author.firstName }} {{ author.lastName }}</h1>
        <span> <em>{{ author.birthDate|date('d/m/Y') }} -
                    {% if author.deathDate %}
                        {{ author.deathDate|date('d/m/Y') }}
                    {% endif %}
            </em></span>
        <p></br> {{ author.biography }}</p>
        <div><a href="{{ path ('front_author', {'id':author.id}) }}"> - Details - </a></div>
        <p>Livres : </p>
        {% for book in author.books %}
            <p>{{ book.title }}</p>
        {% endfor %}
        {% endfor %}
    </div>
</section>

