
    <section>

        <h5>Vous avez recherché le mot : {{ search }}</h5>

        {% for author in authors %}
        <div>
            <h1>{{ author.firstName }} {{ author.lastName }}</h1>
            <span> <em>{{ author.birthDate|date('d/m/Y') }} -
                    {% if author.deathDate %}
                        {{ author.deathDate| date('d/m/Y') }}
                    {% endif %}
                </em></span>
            <p></br> {{ author.biography }}</p>
            {% endfor %}
            <div><a href="{{ path ('front_authors') }}"> - Revenir à la Liste des Auteurs - </a></div>
        </div>

    </section>