{% extends 'base.html.twig' %}
{% block content %}

<section>

    {% for book in books %}
    <h1>{{ book.title }}</h1>
    <span> <strong>{{ book.author }}</strong></span>
    <span> <em>{{ book.nbPages }} pages</em></span>
    <p></br> {{ book.resume }}</p>
    <div><a href="{{ path ('book', {'id': + 1 }) }}"> - Details - </a></div>
    {% endfor %}

</section>

{% endblock %}
