{% extends 'admin/common/base.html.twig' %}
{% block content %}

<section class="cover">
    <form action="{{ path('admin_book_search') }}" method="GET">
        <input type="search" name="search">
        <input type="submit" value="Rechercher">
    </form>
    {% for book in books %}
    <div>
    <h1>{{ book.title }}</h1>
    <span> <strong>{{ book.author }}</strong></span>
    <span> <em>{{ book.nbPages }} pages</em></span>
    <p></br> {{ book.resume }}</p>
    <div><a href="{{ path ('admin_book', {'id':book.id}) }}"> - Details - </a></div>
    <div><a class="delete" href="{{ path ('admin_book_delete', {'id':book.id}) }}"> - Supprimer le livre - </a></div>
    <div class="margin"><a class="update" href="{{ path ('admin_book_update', {'id':book.id}) }}"> - Modifier le livre - </a></div>
    {% endfor %}
    </div>

</section>

{% endblock %}
